#contenedor-torneo{
    display: flex;
    width: 400px;
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #80aded;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}
.contenedor-title-text{
    width: 100%;
    display: flex;
    
}
.title-nombre{
    width: 100%;
}
.title-fecha{
    width: 100%;
}
#imagen-banner{
    border-radius: 20px;
}
#botones-bajos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#contenedor-torneo-image{
    display: flex;
}
#contenedor-torneo-detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-admin{
    border: 2px solid #000000;
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      
      cursor: pointer;
   }
.boton-admin:hover {
    background-color: #b9b9b9;
}
.boton-adminE{
    border: 2px solid #000000;
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      background-color: #ff3d3d;
      cursor: pointer;
   }
.boton-adminE:hover {
    background-color: #cd6969;
}
#contenedor-lista{
    margin: 0;
    list-style-type: none;
    padding: 0;
    max-height: 2.3em; /* Altura máxima para aproximadamente 3 líneas (3 * 1.5em) */
  overflow-y: auto; /* Agregar scroll vertical si excede la altura */
}
/*---------------------------------------------------------------------------------------------------------------------*/
  #contenedor-lista::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
  #contenedor-lista::-webkit-scrollbar-track {
    background: #9accff; /* Color de fondo del track */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  #contenedor-lista::-webkit-scrollbar-thumb {
    background: #6773ff; /* Color del thumb */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  #contenedor-lista::-webkit-scrollbar-thumb:hover {
    background: #4655ff; /* Color del thumb al pasar el ratón */
  }
/*---------------------------------------------------------------------------------------------------------------------*/
#contenedor-texto{
    text-align: start;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}
#boton-lista{
    border-radius: 5px;
      background-color: #678aff;
      cursor: pointer;
}
#boton-lista:hover{
      background-color: #84a1ff;
}